<div>
  <img src="" alt="user avatar">
</div>
<div id="feed">
  {{#each posts}} 
    <div class="post">
      <div class="post-toprow">
        <img src="{{this.user_avatar}}" alt="user avatar"> 
        <span>{{this.username}}</span>
      </div>
      <p>{{this.content}}</p>
      {{#if this.image}}
        <img src="{{this.image}}" alt="post image">
      {{/if}}
      <p>{{this.date_created}}</p>
    </div>
  {{/each}}
</div>